html body{
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    
}
#sidePanel{
    width: 25%;
    height: 95vh;
    border: 5px solid green;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
#drawingSpace{
    width: 75%;
    height: 95vh;
    border: 5px solid darkgoldenrod;
    border-radius: 15px;
}
#cointainer{
    height: 800px;
    width: 800px ;
    border: 5px solid darkgray;
    margin: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    align-self: stretch;
    flex-wrap: wrap
}

.button{
    margin: 0.5em;
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0.5em;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#clear{
    margin: 0.5em;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.5em;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: bold;
}
#clear:active{
    border: solid 3px red;
}

#pencil{
    background-color: lightgrey;
    font-weight: bold;
}
#rainbowPencil{
    color: black;
    font-weight: bold;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);S
}
.button.active {
    border: solid 3px red;
}
#selectPencil{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}